<form method="post" action="{{ path('app_member_delete', {'id': member.id}) }}" onsubmit="return confirm('Êtes-vous sûr de supprimer ce profil ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
