{% extends 'base.html.twig' %}

{% block title %}Member index{% endblock %}

{% block main %}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    {% for member  in members %}
                    <!-- Image de l'inventaire A MODIF-->
                    <img class="card-img-top" src="https://i.pinimg.com/736x/dd/f0/11/ddf0110aa19f445687b737679eec9cb2.jpg" alt="..." />
                    <!-- Informations sur l'inventaire-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ member.name }}</h5>
                            <!-- Owner -->
 
                        </div>
                    </div>
                    <!-- Bouton "Voir le profil"-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('app_member_show', {'id': member.id}) }}">Voir le profil</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">    
                    {% endfor %} {# members #}
                </div>
            </div>
        </div>
    </div>
</section>
    <a href="{{ path('app_member_new') }}" class="btn btn-success btn-sm" role="button">Créer un nouveau membre</a>
{% endblock %}
