{% extends 'base.html.twig' %}

{% block title %}Nouvelle étoile{% endblock %}

{% block main %}
    <h1>Création d'une nouvelle étoile</h1>

<table class="table">
    {{ include('star/_form.html.twig') }}
    &nbsp
    <a href="{{ path('app_star_index') }}" class="btn btn-secondary btn-sm" role="button">Revenir à la liste</a>
</table>
{% endblock %}
