<form method="post" action="{{ path('app_sky_delete', {'id': sky.id}) }}" onsubmit="return confirm('Êtes-vous sûr de supprimer cette galerie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sky.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
