{% extends 'base.html.twig' %}

{% block title %}New Sky{% endblock %}

{% block main %}
    <h1>Création d'un nouveau Ciel</h1>

<table class'table'>
    {{ include('sky/_form.html.twig') }}
    &nbsp
    <a href="{{ path('app_sky_index') }}" class="btn btn-secondary btn-sm" role="button">Revenir à la liste</a><br>
</table>
{% endblock %}
